------------------------------------------------------------------------------------------------------
--       _   _            _                        --
--      | | | |          (_)                       --
--      | |_| | ___  _ __ _ _______  _ __          --
--      |  _  |/ _ \| '__| |_  / _ \| '_  \        --
--      | | | | (_) | |  | |/ / (_) | | | |        --
--      \_| |_/\___/|_|  |_/___\___/|_| |_|        --
------------------------------------------------------------------------------------------------------
-- This file is part of Horizon (c).
-- Copyright (c) 2019 Horizon Dev Team.
--
-- Base Author - Sagun K. (sagunxp@gmail.com)
--
-- This library is free software; you can redistribute it and/or modify
-- it under the terms of the GNU General Public License as published by
-- the Free Software Foundation, either version 3 of the License, or
-- (at your option) any later version.
--
-- This library is distributed in the hope that it will be useful,
-- but WITHOUT ANY WARRANTY; without even the implied warranty of
-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-- GNU General Public License for more details.
--
-- You should have received a copy of the GNU General Public License
-- along with this library.  If not, see <http://www.gnu.org/licenses/>.
------------------------------------------------------------------------------------------------------
--    Character Server Configuration File          --
------------------------------------------------------------------------------------------------------

horizon_config = {
    ------------------------------------------------------------------------------------------------------
    -- IP & Port Settings
    ------------------------------------------------------------------------------------------------------
    bind_ip = "0.0.0.0",
    bind_port = 6121,

    ------------------------------------------------------------------------------------------------------
    -- Log all requests to the character server
    --
    -- Required for dynamic password failure ban.
    ------------------------------------------------------------------------------------------------------
    log = {
        enable_logging = 1,
    },

    ------------------------------------------------------------------------------------------------------
    -- New character settings.
    ------------------------------------------------------------------------------------------------------
    new_character = {
        start_map = "prontera",
        start_x = 101,
        start_y = 111,
        start_zeny = 10000,
        start_items = {
            [1201] = 1,
            [2301] = 1,
        }
    },

    database_config = {
        host = '127.0.0.1',
        user = 'horizon',
        db = 'horizon',
        pass = 'horizon',
        port = 3306
    },

    ------------------------------------------------------------------------------------------------------
    -- Interval for character deletion. (seconds)
    ------------------------------------------------------------------------------------------------------
    character_deletion_time = 1,
    character_hard_delete = false,

    ------------------------------------------------------------------------------------------------------
    -- Interval for pincode expirty. (seconds)
    ------------------------------------------------------------------------------------------------------
    pincode_expiry = 86400 * 3,
    pincode_max_retry = 3,
    
    ------------------------------------------------------------------------------------------------------
    -- Zone Server Connection Information.
    ------------------------------------------------------------------------------------------------------
    zone_server = {
        ip_address = "0.0.0.0",
        port = 5121,
    },

    ------------------------------------------------------------------------------------------------------
    -- Maximum timeout of a connected session.
    ------------------------------------------------------------------------------------------------------
    session_max_timeout = 60
}
