name: CMake

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  MYSQL_PASSWORD: horizon
  MYSQL_USERNAME: root
  MYSQL_DATABASE: horizon
  MYSQL_HOSTNAME: localhost
  LINUX_BOOST_ROOT: "/home/sephus/boost_1_85_0"
  PARALLEL_BUILD: 8
jobs:
  Debian-GCC-Libraries:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    runs-on: Debian
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Configure & Build
      run: |
        cmake -B"${{github.workspace}}/build" -S"${{github.workspace}}" -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_C_COMPILER="gcc" -DCMAKE_CXX_COMPILER="g++" -DWITHOUT_SERVERS=true -DBOOST_ROOT=${{env.LINUX_BOOST_ROOT}}
        cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}
  Debian-GCC-Tests-Tools:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Debian-GCC-Libraries
    runs-on: Debian
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Configure & Build
      run: |
        cmake -B"${{github.workspace}}/build" -S"${{github.workspace}}" -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_C_COMPILER="gcc" -DCMAKE_CXX_COMPILER="g++" -DWITH_TESTS=true -DWITH_TOOLS=true -DWITHOUT_SERVERS=true -DBOOST_ROOT=${{env.LINUX_BOOST_ROOT}}
        cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}
        cmake --build ${{github.workspace}}/build --target install
        cp ${{github.workspace}}/config ${{github.workspace}}/build/bin/config -r
        cp ${{github.workspace}}/db ${{github.workspace}}/build/bin/db -r
        cp ${{github.workspace}}/scripts ${{github.workspace}}/build/bin/scripts -r
        files=$(find ${{github.workspace}}/src/Tests -type f -iname "*Test.cpp");
        for f in ${files[@]};
        do
          t=$(basename ${f::-4});
          /"${{github.workspace}}/build/bin/${t}";
        done
  Debian-GCC-ALL-ASAN:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Debian-GCC-Tests-Tools
    runs-on: Debian
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Configure & Build
      run: |
        cmake -B"${{github.workspace}}/build" -S"${{github.workspace}}" -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_C_COMPILER="gcc" -DCMAKE_CXX_COMPILER="g++" -DWITH_TESTS=true -DWITH_TOOLS=true -DWITH_ASAN=true -DBOOST_ROOT=${{env.LINUX_BOOST_ROOT}}
        cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}
        cmake --build ${{github.workspace}}/build --target install
  Debian-GCC-Run-ASAN:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Debian-GCC-ALL-ASAN
    runs-on: Debian
    steps: 
    - name: Run
      run: |
        cp ${{github.workspace}}/config ${{github.workspace}}/build/bin/${{matrix.build_type}}/config -r
        cp ${{github.workspace}}/db ${{github.workspace}}/build/bin/${{matrix.build_type}}/db -r
        cp ${{github.workspace}}/scripts ${{github.workspace}}/build/bin/${{matrix.build_type}}/scripts -r
        cd ${{github.workspace}}/build/bin/${{matrix.build_type}}
        ./auth --with-config="config/auth-server.lua.dist" --test-run
        ./char --with-config="config/char-server.lua.dist" --test-run
        ./zone --with-config="config/zone-server.lua.dist" --test-run
  Debian-GCC-ALL-TSAN:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Debian-GCC-Tests-Tools
    runs-on: Debian
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Configure & Build
      run: |
        cmake -B"${{github.workspace}}/build" -S"${{github.workspace}}" -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_C_COMPILER="gcc" -DCMAKE_CXX_COMPILER="g++" -DWITH_TESTS=true -DWITH_TOOLS=true -DWITH_TSAN=true -DBOOST_ROOT=${{env.LINUX_BOOST_ROOT}}
        cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}
        cmake --build ${{github.workspace}}/build --target install
  Debian-GCC-Run-TSAN:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Debian-GCC-ALL-TSAN
    runs-on: Debian
    steps: 
    - name: Run
      run: |
        cp ${{github.workspace}}/config ${{github.workspace}}/build/bin/${{matrix.build_type}}/config -r
        cp ${{github.workspace}}/db ${{github.workspace}}/build/bin/${{matrix.build_type}}/db -r
        cp ${{github.workspace}}/scripts ${{github.workspace}}/build/bin/${{matrix.build_type}}/scripts -r
        cd ${{github.workspace}}/build/bin/${{matrix.build_type}}
        ./auth --with-config="config/auth-server.lua.dist" --test-run
        ./char --with-config="config/char-server.lua.dist" --test-run
        ./zone --with-config="config/zone-server.lua.dist" --test-run
  Debian-GCC-Servers:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: [ Debian-GCC-Run-TSAN, Debian-GCC-Run-ASAN ]
    runs-on: Debian
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Configure & Build
      run: |
        cmake -B"${{github.workspace}}/build" -S"${{github.workspace}}" -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_C_COMPILER="gcc" -DCMAKE_CXX_COMPILER="g++" -DBOOST_ROOT=${{env.LINUX_BOOST_ROOT}}
        cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}
        cmake --build ${{github.workspace}}/build --target install
  Debian-GCC-Upload-Artifact:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Debian-GCC-Servers
    runs-on: Debian
    steps:
    - name: Checkout
      uses: actions/upload-artifact@v3
      with: 
        name: artifacts bin
        path: ${{github.workspace}}\build\bin\${{matrix.build_type}}\**\*
  Debian-Clang-Libraries:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    runs-on: Debian
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Configure & Build
      run: |
        cmake -B"${{github.workspace}}/build" -S"${{github.workspace}}" -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_C_COMPILER="clang" -DCMAKE_CXX_COMPILER="clang++" -DWITHOUT_SERVERS=true -DBOOST_ROOT=${{env.LINUX_BOOST_ROOT}}
        cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}
  Debian-Clang-Tests-Tools:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Debian-Clang-Libraries
    runs-on: Debian
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Configure & Build
      run: |
        cmake -B"${{github.workspace}}/build" -S"${{github.workspace}}" -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_C_COMPILER="clang" -DCMAKE_CXX_COMPILER="clang++" -DWITH_TESTS=true -DWITH_TOOLS=true -DWITHOUT_SERVERS=true -DBOOST_ROOT=${{env.LINUX_BOOST_ROOT}}
        cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}
        cmake --build ${{github.workspace}}/build --target install
        cp ${{github.workspace}}/config ${{github.workspace}}/build/bin/config -r
        cp ${{github.workspace}}/db ${{github.workspace}}/build/bin/db -r
        cp ${{github.workspace}}/scripts ${{github.workspace}}/build/bin/scripts -r
        files=$(find ${{github.workspace}}/src/Tests -type f -iname "*Test.cpp");
        for f in ${files[@]};
        do
          t=$(basename ${f::-4});
          /"${{github.workspace}}/build/bin/${t}";
        done
  Debian-Clang-ALL-ASAN:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Debian-Clang-Tests-Tools
    runs-on: Debian
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Configure & Build
      run: |
        cmake -B"${{github.workspace}}/build" -S"${{github.workspace}}" -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_C_COMPILER="clang" -DCMAKE_CXX_COMPILER="clang++" -DWITH_TESTS= -DWITH_ASAN=true -DBOOST_ROOT=${{env.LINUX_BOOST_ROOT}}
        cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}
        cmake --build ${{github.workspace}}/build --target install
  Debian-Clang-Run-ASAN:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Debian-Clang-ALL-ASAN
    runs-on: Debian
    steps: 
    - name: Run
      run: |
        cp ${{github.workspace}}/config ${{github.workspace}}/build/bin/${{matrix.build_type}}/config -r
        cp ${{github.workspace}}/db ${{github.workspace}}/build/bin/${{matrix.build_type}}/db -r
        cp ${{github.workspace}}/scripts ${{github.workspace}}/build/bin/${{matrix.build_type}}/scripts -r
        cd ${{github.workspace}}/build/bin/${{matrix.build_type}}
        ./auth --with-config="config/auth-server.lua.dist" --test-run
        ./char --with-config="config/char-server.lua.dist" --test-run
        ./zone --with-config="config/zone-server.lua.dist" --test-run
  Debian-Clang-ALL-TSAN:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Debian-Clang-Tests-Tools
    runs-on: Debian
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Configure & Build
      run: |
        cmake -B"${{github.workspace}}/build" -S"${{github.workspace}}" -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_C_COMPILER="clang" -DCMAKE_CXX_COMPILER="clang++" -DWITH_TSAN=true -DBOOST_ROOT=${{env.LINUX_BOOST_ROOT}}
        cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}
        cmake --build ${{github.workspace}}/build --target install
  Debian-Clang-Run-TSAN:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Debian-Clang-ALL-TSAN
    runs-on: Debian
    steps: 
    - name: Run
      run: |
        cp ${{github.workspace}}/config ${{github.workspace}}/build/bin/${{matrix.build_type}}/config -r
        cp ${{github.workspace}}/db ${{github.workspace}}/build/bin/${{matrix.build_type}}/db -r
        cp ${{github.workspace}}/scripts ${{github.workspace}}/build/bin/${{matrix.build_type}}/scripts -r
        cd ${{github.workspace}}/build/bin/${{matrix.build_type}}
        ./auth --with-config="config/auth-server.lua.dist" --test-run
        ./char --with-config="config/char-server.lua.dist" --test-run
        ./zone --with-config="config/zone-server.lua.dist" --test-run
  Debian-Clang-Servers:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: [ Debian-Clang-Run-ASAN, Debian-Clang-Run-TSAN ]
    runs-on: Debian
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Configure & Build
      run: |
        cmake -B"${{github.workspace}}/build" -S"${{github.workspace}}" -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_C_COMPILER="clang" -DCMAKE_CXX_COMPILER="clang++" -DBOOST_ROOT=${{env.LINUX_BOOST_ROOT}}
        cmake --build ${{github.workspace}}/build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}
        cmake --build ${{github.workspace}}/build --target install
  Debian-Clang-Upload-Artifact:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Debian-Clang-Servers
    runs-on: Debian
    steps:
    - name: Checkout
      uses: actions/upload-artifact@v3
      with: 
        name: artifacts bin
        path: ${{github.workspace}}\build\bin\${{matrix.build_type}}\**\*

  Windows-Libraries:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    runs-on: Windows
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DWITHOUT_SERVERS=1 -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows
        cmake --build build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}

  Windows-Tests:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Windows-Libraries
    runs-on: Windows
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Build
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DWITHOUT_SERVERS=1 -DWITH_TESTS=1 -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows
        cmake --build build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}
    - name: Run
      run: ./horizon.sh run-tests "build\test\${{matrix.build_type}}"
      
  Windows-Tools:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Windows-Tests
    runs-on: Windows
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Build
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DWITHOUT_SERVERS=1 -DWITH_TOOLS=1 -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows
        cmake --build build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}

  Windows-Servers:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: [ Windows-Tests, Windows-Tools, Windows-Libraries ]
    runs-on: Windows
    steps:
    - name: Checkout
      uses: actions/checkout@v3
   
    - name: Configure Step & Build
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows
        cmake --build build --config ${{matrix.build_type}} --parallel ${{env.PARALLEL_BUILD}}

  Windows-Run-Servers:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Windows-Servers
    runs-on: Windows
    steps:
    - name: Copy Configuration
      run: |
        Xcopy /E /I ${{github.workspace}}\config ${{github.workspace}}\build\bin\${{matrix.build_type}}\config
        Xcopy /E /I ${{github.workspace}}\db ${{github.workspace}}\build\bin\${{matrix.build_type}}\db
        Xcopy /E /I ${{github.workspace}}\scripts ${{github.workspace}}\build\bin\${{matrix.build_type}}\scripts
    - name: Auth
      working-directory: ${{github.workspace}}\build\bin\${{matrix.build_type}}
      run: ./auth.exe --with-config="config\auth-server.lua.dist" --test-run 
    - name: Char
      working-directory: ${{github.workspace}}\build\bin\${{matrix.build_type}}
      run: ./char.exe --with-config="config\char-server.lua.dist" --test-run
    - name: Zone
      working-directory: ${{github.workspace}}\build\bin\${{matrix.build_type}}
      run: ./zone.exe --with-config="config\zone-server.lua.dist" --test-run 

  Windows-Upload-Artifact:
    strategy:
      matrix:
        build_type: [ "Debug", "RelWithDebInfo", "Release" ]
    needs: Windows-Run-Servers
    runs-on: Windows
    steps:
    - name: Checkout
      uses: actions/upload-artifact@v3
      with: 
        name: artifacts bin
        path: ${{github.workspace}}\build\bin\${{env.matrix.build_type}}\**\*
    # Uncomment when we have some more information on why its failing?  
    #- name: Run Auth
    #  working-directory: ${{github.workspace}}\build\bin\Release
    #  run: |
    #    ./auth.exe --with-config="config\auth-server.lua" --test-run 
    #    ./char.exe --with-config="config\char-server.lua" --test-run
    #    ./zone.exe --with-config="config\zone-server.lua" --test-run 
